# All variable names must start with VITE_
# When adding/removing variables, remember to also update them in 'src/vite-env.d.ts'
# https://vitejs.dev/guide/env-and-mode.html


VITE_APP_NAME="Marvel em desenvolvimento"
VITE_API_BASE_URL=http://gateway.marvel.com/v1/public
VITE_API_KEY="YOUR_API_KEY"
VITE_API_TS="YOUR_API_TEST"
VITE_API_HASH="YOUR_API_HASH"
